@import url("https://fonts.googleapis.com/css?family=Exo:100,300,300i,400,600,700&subset=latin-ext");
/* line 5, /Users/svitlana/projects/test-ait/scss/style.scss */
body {
  font-family: 'Exo', sans-serif;
}

/* line 11, /Users/svitlana/projects/test-ait/scss/style.scss */
body {
  position: relative;
  min-height: 100vh;
}

/* line 16, /Users/svitlana/projects/test-ait/scss/style.scss */
.wrapper {
  overflow-x: hidden;
}

/* line 20, /Users/svitlana/projects/test-ait/scss/style.scss */
h3 {
  text-transform: uppercase;
  color: #ff6d6d;
  font-size: 16px;
  line-height: 50px;
  font-weight: 600;
}

/* line 28, /Users/svitlana/projects/test-ait/scss/style.scss */
h2 {
  font-size: 40px;
  line-height: 50px;
  color: #282828;
  font-weight: 400;
  margin-bottom: 40px;
}

/* line 35, /Users/svitlana/projects/test-ait/scss/style.scss */
h2 span {
  color: #ff6d6d;
}

/* line 40, /Users/svitlana/projects/test-ait/scss/style.scss */
input.form-control {
  box-shadow: none;
  padding-left: 28px;
  padding-right: 28px;
}

/* line 2, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
header {
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;
}

/* line 8, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
header .title-h1 {
  width: 700px;
  text-align: center;
  margin: 0 auto;
  margin-top: 230px;
  margin-bottom: 40px;
}

/* line 16, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
header .title-h1 h1 {
  font-size: 60px;
  color: #282828;
  font-weight: 100;
}

/* line 23, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
header .play {
  text-align: center;
  margin-bottom: 30px;
}

/* line 26, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
header .play img {
  display: block;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

/* line 35, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
header .mini-text {
  font-size: 14px;
  text-align: center;
  color: #282828;
}

/* line 42, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
.btn-red {
  width: 190px;
  font-size: 16px;
  color: #ffffff;
  font-weight: 400;
  background: #ff6d6d;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  /* line 52, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header {
    height: auto;
  }
  /* line 55, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .title-h1 {
    margin-top: 120px;
    width: auto;
  }
  /* line 59, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .title-h1 h1 {
    font-size: 50px;
  }
  /* line 64, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .mini-text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 480px) {
  /* line 72, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .title-h1 {
    margin-top: 80px;
  }
  /* line 74, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .title-h1 h1 {
    font-size: 40px;
  }
  /* line 80, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .play img {
    width: 50px;
  }
}

@media screen and (max-width: 320px) {
  /* line 92, /Users/svitlana/projects/test-ait/scss/includes/_header.scss */
  header .title-h1 {
    margin-top: 50px h1;
    margin-top-font-size: 35px;
  }
}

/* line 3, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
.section-2 .section-2__left {
  background: #ffffff;
}

/* line 6, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
.section-2 .section-2__left .section-2__left-text {
  margin: 150px 140px 140px 120px;
}

/* line 9, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
.section-2 .section-2__left .section-2__left-text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #282828;
}

/* line 18, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
.section-2 .section-2__right {
  background: #ececec;
  height: 720px;
  content: '';
  position: relative;
}

/* line 24, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
.section-2 .section-2__right .pink-tri {
  position: absolute;
  width: 1200px;
  height: 440px;
  bottom: -115px;
  left: -185px;
  background-color: #ff6d6d;
  -moz-transform: rotate(-45deg);
  /* Firefox */
  -o-transform: rotate(-45deg);
  /* Opera */
  -webkit-transform: rotate(-45deg);
  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
  /* IE */
}

@media screen and (max-width: 991px) {
  /* line 47, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__left .section-2__left-text {
    margin: 90px;
  }
}

@media screen and (max-width: 767px) {
  /* line 56, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 {
    height: auto;
  }
  /* line 59, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__right {
    overflow-y: hidden;
    height: 370px;
  }
  /* line 63, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__right .pink-tri {
    bottom: -195px;
    left: -34px;
    height: 410px;
  }
}

@media screen and (max-width: 480px) {
  /* line 77, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__left .section-2__left-text {
    margin: 30px;
  }
  /* line 79, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__left .section-2__left-text h3 {
    font-size: 14px;
  }
  /* line 83, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__left .section-2__left-text h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  /* line 89, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__right {
    height: 300px;
  }
  /* line 91, /Users/svitlana/projects/test-ait/scss/includes/_section-2.scss */
  .section-2 .section-2__right .pink-tri {
    bottom: 35px;
  }
}

/* line 1, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 {
  height: 670px;
  background: #f6f5f3;
  position: relative;
  overflow-y: hidden;
}

/* line 7, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 img.coffee {
  position: absolute;
  right: 80px;
  bottom: -130px;
}

/* line 13, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 img.earphones {
  position: absolute;
  right: 150px;
  top: -30px;
}

/* line 19, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 img.pen {
  position: absolute;
  left: 130px;
  top: -20px;
}

/* line 25, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 .section-3__title {
  text-align: center;
  margin-top: 130px;
}

/* line 30, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 .section-3__block {
  text-align: center;
}

/* line 33, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 .section-3__block img {
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
}

/* line 39, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 .section-3__block h4 {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
}

/* line 45, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
.section-3 .section-3__block p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
  color: #6e6e6d;
}

@media screen and (max-width: 767px) {
  /* line 63, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 {
    padding-bottom: 60px;
    height: auto;
  }
  /* line 67, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 img.pen {
    width: 180px;
    left: 40px;
  }
  /* line 72, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 img.earphones {
    width: 160px;
    right: 40px;
  }
  /* line 77, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 img.coffee {
    width: 180px;
  }
  /* line 81, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__block {
    margin-bottom: 30px;
  }
  /* line 85, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__block img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
  }
  /* line 93, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__title h3 {
    font-size: 14px;
  }
  /* line 97, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__title h2 {
    font-size: 35px;
  }
}

@media screen and (max-width: 480px) {
  /* line 106, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 {
    padding-bottom: 60px;
  }
  /* line 109, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 img.pen {
    width: 140px;
    left: 20px;
  }
  /* line 114, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 img.earphones {
    width: 120px;
    right: 20px;
  }
  /* line 119, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 img.coffee {
    width: 140px;
    right: 10px;
    bottom: -80px;
  }
  /* line 125, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__block {
    margin-bottom: 20px;
  }
  /* line 129, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__block h4 {
    font-size: 20px;
  }
  /* line 133, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__block p {
    font-size: 14px;
  }
  /* line 137, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__block img {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
  }
  /* line 144, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__title {
    margin-top: 110px;
  }
  /* line 146, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__title h3 {
    font-size: 13px;
  }
  /* line 150, /Users/svitlana/projects/test-ait/scss/includes/_section-3.scss */
  .section-3 .section-3__title h2 {
    font-size: 32px;
  }
}

/* line 1, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
.description {
  background: #ffffff;
  height: 550px;
  position: relative;
  overflow-y: hidden;
}

/* line 7, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
.description img {
  width: 500px;
  margin: 100px auto;
}

/* line 13, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
.description .pink-tri {
  position: absolute;
  width: 1010px;
  height: 600px;
  bottom: -160px;
  left: -380px;
  background-color: #ff6d6d;
  -moz-transform: rotate(45deg);
  /* Firefox */
  -o-transform: rotate(45deg);
  /* Opera */
  -webkit-transform: rotate(45deg);
  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
  /* IE */
}

/* line 26, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
.description .description__text {
  margin-top: 130px;
}

/* line 29, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
.description .description__text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

@media screen and (max-width: 991px) {
  /* line 38, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description {
    height: auto;
  }
  /* line 41, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description .description__text p {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 767px) {
  /* line 50, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description {
    height: auto;
  }
  /* line 53, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description img {
    margin: 50px auto 0px;
  }
  /* line 57, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description .description__text {
    margin-top: 0;
  }
  /* line 60, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description .description__text p {
    padding-bottom: 50px;
    font-size: 14px;
  }
  /* line 65, /Users/svitlana/projects/test-ait/scss/includes/_description.scss */
  .description .description__text h2 {
    font-size: 35px;
    margin-bottom: 30px;
  }
}

/* line 1, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients {
  background-image: url("../img/clients-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* line 6, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .clients-block {
  text-align: center;
  margin-top: 40px;
}

/* line 10, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .clients-block img {
  width: 80px;
  margin-bottom: 20px;
}

/* line 15, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .clients-block h4 {
  font-size: 22px;
  font-weight: 500;
  color: #ffffff;
  margin-bottom: 10px;
}

/* line 22, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .clients-block h5 {
  font-size: 16px;
  font-weight: 500;
  color: #ff6d6d;
  margin-bottom: 25px;
}

/* line 29, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .clients-block p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  font-style: italic;
  color: #ffffff;
}

/* line 38, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .brands {
  text-align: center;
  margin-bottom: 70px;
  margin-top: 100px;
}

/* line 42, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
.clients .brands img {
  width: 100px;
  margin-right: 100px;
  display: inline;
}

@media screen and (max-width: 1200px) {
  /* line 54, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .brands img {
    margin-right: 70px;
  }
}

@media screen and (max-width: 991px) {
  /* line 65, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .brands img {
    margin-right: 30px;
  }
}

@media screen and (max-width: 767px) {
  /* line 75, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .clients-block {
    margin-top: 20px;
  }
  /* line 78, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .clients-block p {
    font-size: 14px;
  }
  /* line 82, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .clients-block h4 {
    font-size: 20px;
  }
  /* line 86, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .clients-block h5 {
    font-size: 14px;
  }
  /* line 91, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .brands {
    margin-bottom: 40px;
    margin-top: 50px;
  }
  /* line 95, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .brands img {
    width: 60px;
    margin-right: 20px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 480px) {
  /* line 109, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .brands img {
    width: 50px;
  }
  /* line 115, /Users/svitlana/projects/test-ait/scss/includes/_clients.scss */
  .clients .clients-block div[class*="col-xs-"] {
    width: 100%;
    margin-bottom: 10px;
  }
}

/* line 1, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
.browser {
  background: #f6f5f3;
  overflow-y: hidden;
}

/* line 5, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
.browser .browser-text {
  margin: 0 auto;
  text-align: center;
  margin-top: 100px;
  max-width: 660px;
  margin-bottom: 40px;
}

/* line 12, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
.browser .browser-text p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  /* line 23, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
  .browser .browser-text {
    margin-top: 70px;
  }
}

@media screen and (max-width: 480px) {
  /* line 32, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
  .browser .browser-text {
    margin-top: 50px;
  }
  /* line 35, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
  .browser .browser-text h3 {
    font-size: 13px;
  }
  /* line 39, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
  .browser .browser-text h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }
  /* line 44, /Users/svitlana/projects/test-ait/scss/includes/_browser.scss */
  .browser .browser-text p {
    font-size: 13px;
  }
}

/* line 1, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now {
  background: #323969;
}

/* line 4, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .try-now_text {
  text-align: center;
  margin-top: 100px;
}

/* line 8, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .try-now_text h2 {
  color: #ffffff;
}

/* line 13, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .free {
  margin-bottom: 50px;
  position: relative;
  width: 130%;
}

/* line 17, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .free img {
  display: inline;
  position: absolute;
  top: 10px;
}

/* line 23, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .free p {
  color: #f6f5f3;
  display: inline;
  padding-left: 30px;
}

/* line 30, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .btn-red {
  height: 50px;
}

/* line 34, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .form-control {
  font-size: 16px;
  background-color: rgba(70, 76, 119, 0.5);
  height: 50px;
  border: 1px solid #f6f5f3;
  color: #f6f5f3;
}

/* line 43, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now input::-webkit-input-placeholder {
  color: #f6f5f3 !important;
  text-transform: uppercase;
}

/* line 48, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now input:-moz-placeholder {
  /* Firefox 18- */
  color: #f6f5f3 !important;
  text-transform: uppercase;
}

/* line 53, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now input::-moz-placeholder {
  /* Firefox 19+ */
  color: #f6f5f3 !important;
  text-transform: uppercase;
}

/* line 58, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now input:-ms-input-placeholder {
  color: #f6f5f3 !important;
  text-transform: uppercase;
}

/* line 63, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .try-now-p {
  text-align: center;
  font-size: 16px;
  color: #f6f5f3;
  margin: 40px;
}

/* line 68, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
.rty-now .try-now-p a {
  color: #f6f5f3;
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  /* line 77, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now {
    height: auto;
  }
  /* line 80, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now_text {
    margin-top: 70px;
  }
  /* line 83, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now_text h3 {
    font-size: 14px;
  }
  /* line 87, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now_text h2 {
    font-size: 35px;
    margin-bottom: 20px;
  }
  /* line 93, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .free {
    margin-bottom: 20px;
  }
  /* line 97, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .form-control {
    margin-top: 20px;
  }
  /* line 101, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .btn-red {
    margin-top: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  /* line 110, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now div[class*="col-xs-"] {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 115, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now_text {
    margin-top: 50px;
  }
  /* line 118, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now_text h3 {
    font-size: 13px;
  }
  /* line 122, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now_text h2 {
    font-size: 30px;
    margin-bottom: 15px;
  }
  /* line 128, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .rty-now .try-now-p {
    font-size: 14px;
    margin: 20px;
  }
}

@media screen and (max-width: 320px) {
  /* line 138, /Users/svitlana/projects/test-ait/scss/includes/_try-now.scss */
  .try-now .rty-now_text h2 {
    font-size: 27px;
  }
}

/* line 1, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer {
  position: relative;
  overflow-y: hidden;
  overflow-x: hidden;
  padding-bottom: 80px;
}

/* line 7, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .pink-tri {
  position: absolute;
  width: 1200px;
  height: 280px;
  right: -420px;
  top: -190px;
  background-color: #ff6d6d;
  -moz-transform: rotate(45deg);
  /* Firefox */
  -o-transform: rotate(45deg);
  /* Opera */
  -webkit-transform: rotate(45deg);
  /* Safari y Chrome */
  filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476);
  /* IE */
}

/* line 19, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block {
  margin-top: 50px;
}

/* line 21, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block h4 {
  color: #282828;
  font-size: 22px;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 30px;
}

/* line 28, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block h4 span {
  background-image: url("../img/ex-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 9px 14px 9px 5px;
  color: #ffffff;
}

/* line 37, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block .subscribe-form {
  position: relative;
}

/* line 42, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block input.form-control {
  height: 50px;
  background: #f6f6f6;
  margin-bottom: 20px;
  font-size: 16px;
  padding-right: 78px;
}

/* line 50, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block button {
  position: absolute;
  height: 50px;
  width: 50px;
  top: 0px;
  right: 0px;
  background: #ff6d6d;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.25);
}

/* line 60, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block .social {
  text-align: center;
}

/* line 63, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block .social a {
  margin-right: 30px;
  margin-top: 20px;
  display: inline-block;
}

/* line 70, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block a {
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  color: #282828;
  text-decoration: none;
  display: block;
}

/* line 79, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block p {
  font-size: 14px;
  line-height: 26px;
}

/* line 84, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer .footer-block img.ex {
  width: 47px;
}

/* line 89, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer input::-webkit-input-placeholder {
  color: #949494 !important;
  text-transform: uppercase;
}

/* line 94, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer input:-moz-placeholder {
  /* Firefox 18- */
  color: #949494 !important;
  text-transform: uppercase;
}

/* line 99, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer input::-moz-placeholder {
  /* Firefox 19+ */
  color: #949494 !important;
  text-transform: uppercase;
}

/* line 104, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
footer input:-ms-input-placeholder {
  color: #949494 !important;
  text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
  /* line 115, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer .footer-block .social a {
    margin-right: 25px;
  }
}

@media screen and (max-width: 991px) {
  /* line 125, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer {
    height: auto;
    padding-bottom: 50px;
  }
  /* line 129, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer [class*="col-"] {
    min-height: 180px;
  }
}

@media screen and (max-width: 767px) {
  /* line 136, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer {
    height: auto;
    text-align: center;
  }
  /* line 140, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer [class*="col-"] {
    min-height: auto;
  }
  /* line 144, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer .footer-block {
    margin-top: 30px;
  }
}

@media screen and (max-width: 480px) {
  /* line 152, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer {
    height: auto;
  }
  /* line 155, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer div[class*="col-xs-"] {
    width: 100%;
    margin-bottom: 10px;
  }
  /* line 160, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer .footer-block {
    text-align: center;
  }
  /* line 163, /Users/svitlana/projects/test-ait/scss/includes/_footer.scss */
  footer .footer-block input.form-control {
    margin: 0 auto 20px;
  }
}

/*# sourceMappingURL=../css/style.map */