.description {
  background: $white;
  height: 550px;
  position: relative;
  overflow-y: hidden;

  img {
    width: 500px;
    margin: 100px auto;
  }


  .pink-tri {
    position: absolute;
    width: 1010px;
    height: 600px;
    bottom: -160px;
    left: -380px;
    background-color: $pink;
    -moz-transform: rotate(45deg);  /* Firefox */
    -o-transform: rotate(45deg);  /* Opera */
    -webkit-transform: rotate(45deg);  /* Safari y Chrome */
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=0.7071067811865476, M12=-0.7071067811865475, M21=0.7071067811865475, M22=0.7071067811865476); /* IE */
  }

  .description__text {
    margin-top: 130px;

    p {
      font-size: 16px;
      line-height: 26px;
      font-weight: 500;
    }
  }
}

@media screen and (max-width: 991px) {
  .description {
    height: auto;
    .description__text {
      p {
        padding-bottom: 100px;

      }
    }
  }
}

@media screen and (max-width: 767px) {
  .description {
    height: auto;

    img {
      margin: 50px auto 0px;
    }

    .description__text {
      margin-top: 0;

      p {
        padding-bottom: 50px;
        font-size: 14px;
      }

      h2 {
        font-size: 35px;
        margin-bottom: 30px;
      }
    }
  }
}
