
header {
  background-image: url('../img/header-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 800px;

  .title-h1 {
    width: 700px;
    text-align: center;
    margin: 0 auto;
    margin-top: 230px;
    margin-bottom: 40px;


    h1 {
      font-size: 60px;
      color: $title-h1;
      font-weight: 100;
    }
  }

  .play {
    text-align: center;
      margin-bottom: 30px;
    img {
      display: block;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 30px;
    }

  }

  .mini-text {
    font-size: 14px;
    text-align: center;
    color: $title-h1;
  }
}

.btn-red {
  width: 190px;
  font-size: 16px;
  color: $white;
  font-weight: 400;
  background: $pink;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  header {
    height: auto;

    .title-h1 {
      margin-top: 120px;
      width: auto;

      h1 {
        font-size: 50px;
      }
    }

    .mini-text {
      margin-bottom: 40px;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    .title-h1 {
      margin-top: 80px;
      h1 {
        font-size: 40px;
      }
    }

    .play {
      img {
        width: 50px;
      }
    }
  }


}

@media screen and (max-width: 320px) {

  header {
    .title-h1 {
      margin-top: 50px

      h1 {
        font-size: 35px;
      }
    }
  }

}