$title-h1: #282828;
$white: #ffffff;
$pink: #ff6d6d;
$bg-sec-2: #ececec;
$bg-sec-3: #f6f5f3;
$text-grey: #6e6e6d;
$bg-blue: #323969;
$white-text: #f6f5f3;
$footer-input: #f6f6f6;
$footer-input-text: #949494;